#product-overview {
  /* Sets a background image */
  /* background-image: url("./images/freedom.jpg"); */

  /* Sets the size of the background 
  background-size: cover;

  Controls the position of the background
  background-position: left 10% bottom 20%;

  Controls if repeating the image is needed
  background-repeat: no-repeat;

  background-origin: border-box;
  background-clip: border-box; 

  border: 5px dashed red; 

  Sets the color of the background
  In case we use a background image the color
  will not be applied.

  background-color: red;

  The "url()" let us use to refrence image file
  which will load.
  background: url("./freedom.jpg"); */

  /* Shorthand version */
  /* background: url("./images/freedom.jpg") left 10% bottom 20% / cover no-repeat
    border-box; */

  background-image: linear-gradient(0deg, green, transparent);

  width: 100%; /* width - controls the overall width the element take on the screen */
  height: 528px; /* height - controls the overall height the element take on the screen*/
  padding: 10px;
  margin-top: 40px;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  /* bottom: 10px; */
  /* left: 40px; */
  bottom: 4%;
  left: 2%;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  /* 'box-shadow' - this property allows us to define a drop shadow or */
  /* inset shadow */
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}
.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: "🏅 ";
  padding: 0;
}

.plan__features li {
  margin: 8px 0px;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}
#key-features .section-title {
  color: white;
  margin: 32px;
}

key-features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-features__feature {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.key-features__image {
  background: #ffcede;
  width: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  height: 128px;
  margin: 0 auto;
}

.key-features__description {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
